.header {
    background: url(../img/photodraw.ru-31717.jpeg) center no-repeat;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu__list{
    display: inline-flex;
    width: 50%;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: center;

    .menu__item{
        margin-right: 1rem;
        &:last-child{
            margin-right: 0;
        }

        .menu__link{
            font-size: 1.1rem;
            color: #fff;
            transition: font-size 0.1s linear;
            &:hover{
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
}

.logo {
    padding: 0.8rem 0 0.8rem 0;
    display: flex;
    align-items: center;

    .logo__img {
        width: 5.4rem;
        height: 5.4rem;
        border-radius: 50%;
        background-color: #fff;

        .logo__png {
            width: 100%;
        }
    }
    .logo__text{
        margin-left: 1.5rem;
        width: 53%;
        .logo__title{
            font-size: 1.5rem;
            font-weight: 600;
            color: #fff;
        }
    }
}
