@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import "./normalize.css";
@import "header";
@import "nav";
@import "hamburger";
@import "./media.scss";
@import "news";
@import "button";
@import "programms";
@import "overley";

$baseFontSize: 16px;

html{
  font-size: $baseFontSize;

  @include tablets{
    font-size: $baseFontSize - 3px;
  }

  @include phones{
    font-size: $baseFontSize - 7px;
  }

  @include oldphones{
    font-size: $baseFontSize - 8px;
  }

}



*{
    box-sizing: border-box;
  }
  
  html,
  body{
    height: 100%;
  }
  
  body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: $baseFontSize;
    
  }
  
  .container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  p {
    margin: 0;
  }
  
  h1, h2, h3{
    margin: 0;
  }
  
  ul{
    padding: 0;
    margin: 0;
  }
  ul li{
    list-style: none;
  }


/*-----SMALLMONITOR----*/




/*-----NOTEBOOK----*/

/*-----HEADER----*/
.logo{
  @include notebook{
    margin-right: 2rem;
  }
  .logo__text{
    @include notebook{
      width: 50%;
    }
  }
}
.menu__list{
  @include notebook{
    display: none;
  }
}
.hamburger{
  @include notebook{
    display: flex;
    align-items: center;
  }
}

/*------NAV--------*/

.nav__inner{
  @include notebook{
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

.hamburger--nav{
  @include notebook{
    display: none;
  }
}

/*------NEWS--------*/

.news__content{
  @include notebook{
    padding: 2rem 0 17rem 0;
  }
}

.news__inner{
  @include notebook{
    flex-wrap: wrap;
  }
}

.news__item{
  @include notebook{
    width: 100%;
  }
}

.news__side{
  @include notebook{
    width: 100%;
    display: flex;
    margin: 2rem 0 0 0;
    height: 45%;
  }
}

.news__side--item{
  @include notebook{
    height: 100%;
    width: 50%;
    margin-left: 2rem;
    &:last-child{
      margin-top: 0;
    }
  }
}

/*------PROGRAMMS--------*/

.programms{
  @include notebook{
    
  }

  .programms__inner{
    @include notebook{
      flex-direction: column;
    }

    .programms__item{
      @include notebook{
        display: flex;
        min-height: 17rem;
        width: 100%;
      }
      .programms__img{
        @include notebook{
          width: 38%;
        }
      }
    }
  }
}


/*-----TABLETS----*/

/*-----HEADER----*/

.menu{
  @include notebook{
    justify-content: space-between;
  }
}
.logo{
.logo__img{
  @include tablets{

  }
}
.logo__text{
  @include tablets{
    margin-left: 1.5rem;
    
  }
}
}
.menu__list{
  @include tablets{
    display: none;
  }
}

